In [2]:
require(prob)

In [3]:
tosscoin(3)

  toss1 toss2 toss3
1     H     H     H
2     T     H     H
3     H     T     H
4     T     T     H
5     H     H     T
6     T     H     T
7     H     T     T
8     T     T     T

In [4]:
rolldie(1)

  X1
1  1
2  2
3  3
4  4
5  5
6  6

In [5]:
head(cards())

  rank suit
1    2 Club
2    3 Club
3    4 Club
4    5 Club
5    6 Club
6    7 Club

In [6]:
 urnsamples(1:3, size = 2, replace = TRUE, ordered = TRUE) # assumes distinguishable elements

  X1 X2
1  1  1
2  2  1
3  3  1
4  1  2
5  2  2
6  3  2
7  1  3
8  2  3
9  3  3

# Event Space

In [7]:
tosscoin(2, makespace = TRUE)

  toss1 toss2 probs
1     H     H  0.25
2     T     H  0.25
3     H     T  0.25
4     T     T  0.25

# Set Operations

In [27]:
S = cards()
A = subset(S, suit == "Heart")
B = subset(S, rank %in% 7:8)

In [28]:
S

   rank    suit
1     2    Club
2     3    Club
3     4    Club
4     5    Club
5     6    Club
6     7    Club
7     8    Club
8     9    Club
9    10    Club
10    J    Club
11    Q    Club
12    K    Club
13    A    Club
14    2 Diamond
15    3 Diamond
16    4 Diamond
17    5 Diamond
18    6 Diamond
19    7 Diamond
20    8 Diamond
21    9 Diamond
22   10 Diamond
23    J Diamond
24    Q Diamond
25    K Diamond
26    A Diamond
27    2   Heart
28    3   Heart
29    4   Heart
30    5   Heart
31    6   Heart
32    7   Heart
33    8   Heart
34    9   Heart
35   10   Heart
36    J   Heart
37    Q   Heart
38    K   Heart
39    A   Heart
40    2   Spade
41    3   Spade
42    4   Spade
43    5   Spade
44    6   Spade
45    7   Spade
46    8   Spade
47    9   Spade
48   10   Spade
49    J   Spade
50    Q   Spade
51    K   Spade
52    A   Spade

In [11]:
union(A, B)

   rank    suit
6     7    Club
7     8    Club
19    7 Diamond
20    8 Diamond
27    2   Heart
28    3   Heart
29    4   Heart
30    5   Heart
31    6   Heart
32    7   Heart
33    8   Heart
34    9   Heart
35   10   Heart
36    J   Heart
37    Q   Heart
38    K   Heart
39    A   Heart
45    7   Spade
46    8   Spade

In [12]:
intersect(A, B)

   rank  suit
32    7 Heart
33    8 Heart

In [13]:
setdiff(A, B)
setdiff(B, A)

   rank  suit
27    2 Heart
28    3 Heart
29    4 Heart
30    5 Heart
31    6 Heart
34    9 Heart
35   10 Heart
36    J Heart
37    Q Heart
38    K Heart
39    A Heart

   rank    suit
6     7    Club
7     8    Club
19    7 Diamond
20    8 Diamond
45    7   Spade
46    8   Spade

# Approaches/Theories

## The Measure Theory Approach

## The Relative Frequency Approach (Frequentist)

## The Subjective Approach (Bayesian)

# Axioms for Probability Functions -  Kolmogorov Axioms

P(A) >= 0

P(S) = 1

For a sequence of disjoint events (in other words, sets that do not overlap), their total probability (measure) should equal the sum of its parts

# Calculating probabilities

In [16]:
S <- cards(makespace = TRUE)
A <- subset(S, suit == "Heart")
Prob(A)

[1] 0.25

In [19]:
S <- rolldie(2, makespace = TRUE)
A <- subset(S, X1 == X2)
B <- subset(S, X1 + X2 >= 8)
A
B
Prob(A, given = B)

   X1 X2      probs
1   1  1 0.02777778
8   2  2 0.02777778
15  3  3 0.02777778
22  4  4 0.02777778
29  5  5 0.02777778
36  6  6 0.02777778

   X1 X2      probs
12  6  2 0.02777778
17  5  3 0.02777778
18  6  3 0.02777778
22  4  4 0.02777778
23  5  4 0.02777778
24  6  4 0.02777778
27  3  5 0.02777778
28  4  5 0.02777778
29  5  5 0.02777778
30  6  5 0.02777778
32  2  6 0.02777778
33  3  6 0.02777778
34  4  6 0.02777778
35  5  6 0.02777778
36  6  6 0.02777778

[1] 0.2

In [22]:
L <- rep(c("red", "green"), times = c(7, 3))
M <- urnsamples(L, size = 3, replace = FALSE, ordered = TRUE)
N <- probspace(M)

Prob(N, isrep(N, "red", 3))

Prob(N, isin(N, c("red", "green", "red"), ordered = TRUE))

[1] 0.2916667

[1] 0.175

# Independent Repeated Experiments

In [23]:
iidspace(c("H","T"), ntrials = 3, probs = c(0.7, 0.3))

  X1 X2 X3 probs
1  H  H  H 0.343
2  T  H  H 0.147
3  H  T  H 0.147
4  T  T  H 0.063
5  H  H  T 0.147
6  T  H  T 0.063
7  H  T  T 0.063
8  T  T  T 0.027

Joint Probabilities

In [25]:
S <- rolldie(2, makespace = TRUE)
S <- addrv(S, FUN = max, invars = c("X1", "X2"), name = "U")
S <- addrv(S, FUN = sum, invars = c("X1", "X2"), name = "V")
head(S)

UV <- marginal(S, vars = c("U", "V"))
xtabs(round(probs, 3) ~ U + V, data = UV)

marginal(UV, vars = "U")

  X1 X2 U V      probs
1  1  1 1 2 0.02777778
2  2  1 2 3 0.02777778
3  3  1 3 4 0.02777778
4  4  1 4 5 0.02777778
5  5  1 5 6 0.02777778
6  6  1 6 7 0.02777778

   V
U       2     3     4     5     6     7     8     9    10    11    12
  1 0.028 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000
  2 0.000 0.056 0.028 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000
  3 0.000 0.000 0.056 0.056 0.028 0.000 0.000 0.000 0.000 0.000 0.000
  4 0.000 0.000 0.000 0.056 0.056 0.056 0.028 0.000 0.000 0.000 0.000
  5 0.000 0.000 0.000 0.000 0.056 0.056 0.056 0.056 0.028 0.000 0.000
  6 0.000 0.000 0.000 0.000 0.000 0.056 0.056 0.056 0.056 0.056 0.028

  U      probs
1 1 0.02777778
2 2 0.08333333
3 3 0.13888889
4 4 0.19444444
5 5 0.25000000
6 6 0.30555556